<h1>Your Profile</h1>

<h2>Saved Organizations:</h2>
<% organizations.forEach(function(org)  { %>
  <div class = "well">
    <h2><%= org.name %></h2>
    <p><%= org.city %>, <%= org.state %></p>
    <a href = "/profile/<%= org.id %>" class = "btn btn-danger glyphicon glyphicon-trash delete-btn">Delete from Saved Orgs</a>
  </div>
<% }); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $('.delete-btn').on('click', function(e) {
    console.log("QQQQQQQQ in the AJAX override QQQQQQQQQQ");
    e.preventDefault();
    var organizationsElement = $(this);
    var organizationsUrl = organizationsElement.attr('href');
    $.ajax({
      method: 'DELETE',
      url: organizationsUrl
    }).done(function(data) {
      console.log(data);
      organizationsElement.remove();
      window.location = '/profile';
    });
  });
</script>
