<h1>Your Profile</h1>

<h2>Saved Organizations:</h2>
<% organizations.forEach(function(savedOrgs)  { %>
  <div class = "well">
    <h2><%= organizations.name %></h2>
    <p><%= organization.city %>, <%= organization.state %></p>
    <a href = "/profile<%= organizations.organizations %>" class = "btn btn-danger glyphicon glyphicon-trash delete-btn">Delete from Saved Orgs</a>
  </div>
<% }); %>
