<!-- <form action="/search/results" method="POST">
  <div class="form-group">
    <label for="name">Organziation</label>
    <input id="name" class="form-control" type="text" name="name" placeholder="Search Organization">
    <input class="btn btn-primary fa-search" type="submit">
  </div>
</form> -->
