<form action="/search/results" method="POST">
  <div class="form-group">
    <label for="name">Organization</label>
    <input id="name" class="form-control" type="text" name="name" placeholder="Search Organization">
    <input class="btn btn-primary" type="submit">
  </div>
</form>

<% results.forEach(function(results){ %>
  <div class="well">
    <h2 class="capitalize"><%= results.name %></h2>
    <p>City: <%= results.city%></p>
    <p>State: <%= results.state%></p>

  
  </div>
<% }); %>
