<h1>List of Nonprofit Organizations in the United States:</h1>

<% for(var i = 0; i < organizations.length; i++) { %>
  <p>Name: <%= organizations[i].name %></p>
  <p>Location: <%= organizations[i].city %>, <%= organizations[i].state %></p>


<% } %>
