<div class="row">


  <div class="col-sm-4">
    <h2>About Impact</h2>
    <p>Impact was created to help volunteers and organziations find each other.
      <hr>
      <br><strong>Are you an organization looking for volunteers?</strong>
      <br>Create a profile for your organization and start finding the help you need among our current volunteers.
      <hr>
      <br><strong>Are you a volunteer seeking to get involved?</strong>
      <br>Create your volunteer profile today
    </p>
  </div>
</div>
