<div class="row">
  <div class="col-sm-8">
  <h2>Latest Organizations and Volunteers to join Impact:</h2>

  </div>
  <div class="col-sm-4">
    <h2>About Impact</h2>
    <p>Impact was created to help volunteers and organziations find each other. [Insert more content here.]</p>
  </div>
</div>
