<h1><%= organization.getName()</h1>

<p><%= organization.bio %></p>

<!-- still need to create functionality to create a new event
<a href="/events/new" class="btn btn-primary">Create a new event</a> -->

<hr />

<h2>Upcoming Events:</h2>

<!-- Insert events from events model: -->

<!-- <% organziation.events.forEach(function(event) { %>
  <div class="well">
    <h3>
      <a href="/events/<%= event.id %>"><%= event.name %></a>
    </h3>
  </div>
<% }); %> -->

<!-- Return to homepage -->
<a href="/">Home</a>
